form {
	border: 1px solid black;
	padding: 10px;
	height: 30rem;
	width: 500px;
	margin:20px auto;
  display: flex;
  flex-direction: column;

}
select, textarea, input{
    margin: 20px 20px;
}

button {
	background: rgb(147, 195, 207);
	color: #fff;
	border: 1px solid transparent;
	padding: 5px;
	margin: 2px;
	width: 30%;
	transition: all 0.2s;
	outline: none;
}
button:hover {
	color: rgb(5, 49, 47);
	background: #fff;
	border: 1px solid rgb(46, 58, 170);
}