.cont{
    position: relative;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 120px;

}

button{
    width: 8rem;
    height: 5rem;
    background-color: aquamarine;

}

h3{
font-size: 25px;
  padding: 10px;
  margin: 10px;
}