.cont {
    width: 500px;
    height: 500px;
    border: 1px solid black;

}

button {
    width: 8rem;
    height: 5rem;
    background-color: aquamarine;
    position: relative;
    top: 3rem;
    left: 10rem;
}

.box {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 100px;
    margin-left: 120px;
    background-color: chartreuse;
}